<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang quản trị</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/8ddf476500.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="admin mx-auto items-center ">
        <!--nav-bar-top-->
      <div class="grid grid-cols-8 gap-4 bg-gradient-to-r from-green-500 border">
        <div class="logo flex items-center max-w-7xl lg:max-w-[80.5%] col-span-2">
          <img
            src="../../images/zyro-mouth.png"
            alt=""
            width="30%"
            class="max-w-7xl md:inlne-flex"
          />
          <h2 class="p-4 font-bold text-2xl md:text-center hover:text-white">Health Clinic</h2>
        </div>
        <div class="user col-span-6 border">
          <div class="flex justify-between items-center my-10 ">
            <div class="search">
              <div class="drop-down">
                
              </div>
            </div>
            <div class="profile flex space-x-4 p-4">
              <div class="notification">
                <a class="" href=""><i class="fa-regular fa-bell"></i></a>
              </div>
              <div class="message">
                <a href=""><i class="fa-regular fa-envelope "></i></a>
              </div>
              <div class="icon-user">
                <a href=""><i class="fa-regular fa-user"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="manage grid grid-cols-8 gap-4 my-4">
        <div class="menu col-span-2 leading-10 text-center  ">
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý tài khoản nhân sự</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bệnh nhân</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý hồ sơ</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bình luận</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý booking</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bình luận</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý lịch trình</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-red-500"
            href=""
            >Quản lý kết luận</a
          >
        </div>
        <div class="col-span-6 border-2-sm bg-gradient-to-r from-green-500 my-2 ">
            <h2 class="p-4 font-bold text-2xl text-center text-gray-600 uppercase">Quản lý tài khoản nhân sự</h2>
            <div class="max-w-[70%] mx-auto bg-white p-3">
              <h2 class="border-b-4 font-bold text-2xl py-3">Static voice</h2>
              <table class="table-auto table-fixed py-3">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Họ Tên</th>
                    <th>Tài Khoản</th>
                    <th>Mật Khẩu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Trần Hữu Hưng</td>
                    <td>Doohung2003</td>
                    <td>Hung2003</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Mai Văn Nam</td>
                    <td>Nammv203</td>
                    <td>Nam2003</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Lý Tự Lẫm</td>
                    <td>Lamlt2003</td>
                    <td>lam2003</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
