<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/8ddf476500.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="admin mx-auto items-center ">
        <!--nav-bar-top-->
      <div class="flex justify-between bg-gradient-to-r from-green-500 border">
        <div class="logo flex items-center max-w-7xl lg:max-w-[14%]">
          <img
            src="../images/zyro-mouth.png"
            alt=""
            width="30%"
            class="max-w-7xl md:inlne-flex"
          />
          <h2 class="p-4 font-bold text-2xl md:text-center hover:text-white">Health Clinic</h2>
        </div>
      </div>
      <div class="manage grid grid-cols-5 gap-8 my-4">
        <div class="menu leading-10 max-w-[500px] text-center  ">
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý tài khoản nhân sự</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bệnh nhân</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý hồ sơ</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bình luận</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý booking</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý bình luận</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-yellow-500"
            href=""
            >Quản lý lịch trình</a
          >
          <a
            class="block py-[35px] my-2 font-bold text-lg text-white bg-gradient-to-r from-green-500 to-yellow-300  hover:from-blue-500 hover:to-green-500 hover:border hover:border-red-500"
            href=""
            >Quản lý kết luận</a
          >
        </div>
        <div class="col-span-4 grid grid-row-4 gap-8 place-content-center border-2-sm bg-gradient-to-r from-green-500 my-2 ">
            <div class="bg-gradient-to-r from-blue-500 to-orange-300 rounded-lg font-mono w-[800px] h-[500px] pt-[10%] text-center">
                <div class="title font-bold uppercase text-2xl py-4 pl-[75px]">
                    <h2>Bạn cần đăng nhập để sử dụng</h2>
                </div>
                <div class="content-center font-bold">
                    <form action="index.php" method="POST" class="space-y-8">
                        <div>
                            <span>Username</span>
                            <input type="text" placeholder="Enter username..." class="rounded-lg w-[50%] p-2 py-4">
                        </div>
                        <div class="password my-3">
                            <span>Password</span>
                            <input type="password" placeholder="Enter password..." class="rounded-lg w-[50%] p-2 py-4">
                        </div>
                        <div class="log-in grid grid-cols-2 px-10">
                          <div class="save-password">
                            <input type="checkbox">Lưu mật khẩu</input>
                          </div>
                          <div>
                            <a>Bạn quên mật khẩu</a>
                          </div>
                        </div>
                        <div class="button">
                          <button type="submit" name="btn-dangnhap" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 w-[20%] py-3 px-2  border rounded-lg"> Đăng nhập</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
